<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="create.component.css">
<h2>New Quote</h2>
<form #newquote= ngForm (ngSubmit)="newQuote(newQuote)">
  <!--name-->
    <label for="name">Name</label><br>
    <input type="text" name="name" placeholder="Enter Name" ngModel>
    <br><br>
  <!--quote-->
    <label for="exampleFormControlTextarea1" class="form-label">Quote</label><br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" cols="36" ngModel></textarea>
    <br><br>
  <!--category-->
    <label for="exampleDataList" class="form-label">Category</label><br>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." ngModel>
    <datalist id="datalistOptions">
      <option value="Love">
      <option value="Age">
      <option value="Religion">
      <option value="Finances">
      <option value="Mental Health">
    </datalist>
    <br><br>
  <!--date-->
    <label for="date" class="form-label">Date</label><br>
    <input type="date" name="date" placeholder="Date written" ngModel><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

