body{
  background-image: url(../quotes/images/quotes.jpg);
}
.quote,.quote2{
  box-shadow: 3px 3px 3px 3px;
  padding: 3%;
  border: 1px solid #BFBFBF;
  margin: 15px;
  text-align: center;
  background-color: white;
}
h2{
  text-decoration: underline;
}
.icon{
  font-size: 20px;
  color: #E5663E;
}
.icon:hover{
   color: #011a27;
}
