<link rel="stylesheet" href="quotes.component.css">
    <div class="container" id="thee">
      <div class="intro">
        <h2>Quotes For You!</h2>
        <h4>Fun with quotes. You get to add your favorite quotes as <br> 
          well as vote on the ones you like and dislike.</h4>
      </div>
  
      <div class="container">
        <div class="row">
          <div class="col-4" id="write">

          </div>
        <div class="cards">
          <div class="col-8" id="two">
            <div class="row" id="lol">
              <h3>Memorable Quotes</h3>
            </div>
            <hr> 
  
          <div class="row">
            <div class="card" id="crd" *ngFor='let quote of quotes;let i = index'>
                
              <div class="card-title">
                <p font color="black">{{quote.author}}</p></div>  
                
              <div class="card-body" id="ppp">
                <p id="{{i}}" appHighlight >{{quote.description}}</p>
              </div>
              <div class="icons">
                <div>
                    <img src="https://img.icons8.com/material-rounded/48/000000/thumb-up.png"(click)='like(i)'>Likes
                        <span>{{quote.votes}} </span> 
                    <img src="https://img.icons8.com/material-rounded/48/000000/thumbs-down.png" (click)='dislike(i)'>Dislikes 
                </div>
                <div>
                    <img src="https://img.icons8.com/plasticine/50/000000/filled-trash.png" (click)='deleteQuote(i)' >
                </div>
            </div>

              <div class="col-6" id="small">
                <p>Submitted by {{quote.submitter}}</p>
              </div>
                  
            </div>
          </div>
  
          </div>
        </div>
        </div>
  
  
      </div>
  
  
    </div>

  