.quote,.quote2{
  box-shadow: 3px 3px 3px 3px;
  padding: 5px;
  border: 1px solid #BFBFBF;
  margin: 10px;
  text-align: center;
}
h2{
  text-decoration: underline;
}
.icon{
  font-size: 20px;
  color: #E5663E;
}
.icon:hover{
   color: #011a27;
}
.quote2{
  float: right;
  width: 50%;
}
.quote{
  width: 50%;
}