/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Dancing+Script&family=Molle:ital@1&family=Moon+Dance&family=Outfit&family=Raleway:ital,wght@0,600;1,300&display=swap');
p{
  font-family: 'Moon Dance', cursive;
  font-size: 35px;
  font-weight: 800;
}

h1{
  font-family: 'Raleway', sans-serif;
}