<link rel="stylesheet" href="home.component.css">

<nav class="nav">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Create Quote</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Available Quotes</a>
</nav>

<div class="intro">
  <h2>Quotes For You</h2>
  <p>Welcome! Please feel free to write your quotes and <br>rate those available on the site to let us 
    know what you want<br> to see more of. Have fun!</p>
</div>

<button class="btn btn-primary">Create Quote</button>
<button class="btn btn-secondary">Available Quotes</button>



