<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="home.component.css">

<nav class="nav justify-content-end">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Create Quote</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Available Quotes</a>
</nav>

<body>
  <div class="container-fluid text-center">
    <div class="intro">
      <h2 id="pg-name">Quotes For You.</h2>
      <p>Welcome! Please feel free to write your quotes and <br>rate those available on the site to let us 
        know what you want<br> to see more of. Have fun!</p>
    </div>
  </div>
  
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Create Quote</button>
    <button class="btn btn-primary" type="button">Available Quote</button>
  </div>  
</body>




