<div>
  <div class="navbar">
          <div>Home</div>
          <div>About</div>
          <div>Quotes</div>
          <div>Submit Quote</div>
  </div>
  <div>
      <h1 class="text-center">Welcome to Quote App</h1>
  </div>
</div>

<div class="container-fluid" id="name">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <!--who submitted the quote  -->
      <div class="form-group">
        <label for="submitter">Submitted By:</label>
        <textarea class="form-control" id="submitter" rows="1" [(ngModel)]="submitters" name="submitter" #submitter="ngModel" required></textarea><br>
      </div>
     
      <!-- quote itself -->
      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="descriptions" name="description" #description="ngModel" required></textarea><br>
      </div>
      
      <!-- authors details -->   
      <div class="form-group">
        <label for="name">Original Author Name</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="author" name="author" #name="ngModel" required><br>
      </div>
      
      <button type="Submit" (click)="submitQuote();quoteForm.reset()" [disabled]="!quoteForm.form.valid" class="btn btn-primary ">Publish Quote</button>
    </form>
  </div>
  <app-quotes [quotes]="quotes"></app-quotes>
</div>

